<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HotelResApp</title>
</head>
<body>
<h1>Reservation Confirmation</h1>
<div>
    <table id="confirmationLists" class="table">
        <thead>
        <tr>
            <th scope="col"> Start Date </th>
            <th scope="col"> End Date </th>
            <th scope="col"> Room Cost </th>
            <th scope="col"> Room Type </th>

        </tr>
        </thead>
        <tbody>

        <tr th:each="confirm : ${confirmation}">
            <td span th:text="${confirm.date_In}"></td>
            <td span th:text="${confirm.date_Out}"></td>
            <td span th:text="${confirm.room_Type_Reserve.room_Rate}"></td>
            <td span th:text="${confirm.room_Type_Reserve.room_Size}"></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
