<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HotelResApp</title>
</head>
<body>
<h1>Reservation Confirmation</h1>
<div>
    <table id="confirmationLists" class="table">
        <thead>
        <tr>
            <th scope="col"> Reservation Number </th>
            <th scope="col"> Guest ID </th>
            <th scope="col"> Total Cost </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${confirmation.empty}">
            <td colspan="2"> No Reservations Available </td>
        </tr>
        <tr th:each="confirm : ${confirmation}">
            <td span th:text="${confirm.reservation_id}"></td>
            <td span th:text="${confirm.guest_id}"></td>
            <td span th:text="${confirm.totalOwed}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
