<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Hotel Reservations</title>
</head>
<body>
	<h1>Make A Reservation</h1>
	<form method="POST" action="home.html">
		Start Date: <input type="date" name="sdate"><br />
		End Date: <input type="date" name="edate"><br />
		Room Type: <select>
			<option value="Single">Single</option>
			<option value="Double">Double</option>
			<option value="Triple">Triple</option>
			<option value="Quad">Quad</option>
		</select><br />
		Location: <select>
			<option value="Chicago">Chicago</option>
			<option value="New York">New York</option>
			<option value="Los Angeles">Los Angeles</option>
			<option value="Dallas">Dallas</option>
		</select><br />
		<input type="submit" value="Submit">
	</form>
	<a th:href="@{home}"><button>Back</button></a>
</body>
</html>
