<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Hotel Reservations</title>
</head>
<body>
	<h1>Your Reservations</h1>
	<table style="width:80%">
		<tr>
			<th scope="col"> Start Date</th>
			<th scope="col">End Date</th>
			<th scope="col"> Room Cost </th>
			<th scope="col"> Room Size </th>
		</tr>
		<tr>
			<tbody>
			<tr>
				<td span th:text="${reservation.date_In}"></td>

				<td span th:text="${reservation.date_Out}"></td>
				<td span th:text="${reservation.room_Type_Reserve.room_Rate}"></td>

				<td span th:text="${reservation.room_Type_Reserve.room_Size}"></td>
			</tr>
			</tbody>

		</tr>
	</table><br /><br />
	<a th:href="@{home}"><button>Back to Home</button></a>
</body>
</html>
