<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hotel Reservation</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-spacing: 0px;
        }
        th, td {
            padding: 10px;
        }
    </style>
</head>

<body>
<h1>Home</h1>
<a th:href="@{create}"><button>Make A Reservation</button></a>
<br/><br/>
<a th:href="@{edit}"><button>Check/Edit A Reservation</button></a>
<br/><br/>
<a th:href="@{landing}"><button>Sign Out</button></a></a>
<br/><br/>
<p><h3>Pricing per day</h3>
    <table>
        <thead>
        <tr>
            <th>roomSize</th>
            <th>roomRate</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room : ${rooming}">
            <td th:text="${room.roomSize}"></td>
            <td th:text="${room.roomRate}"></td>
        </tr>
        </tbody>
    </table>

</body>
</html>
